body{
    overflow-y:hidden;
}

#wrapper {
    width: 100%;
  }
  
  #page-wrapper {
    padding: 15px 15px;
    min-height: 600px;   
  }
  #page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1050px;
  }
  .pad-top {
    padding-top:15px;
  }

  .box {
    transition: box-shadow .3s;
    width: 330px;
    height: 180px;
    margin: 20px;
    border-radius:10px;
    border: 1px solid gray;
    float: left;
    
  }
  .box:hover {
    box-shadow: 0 8px 5px gray; 
  }

  .comhigh{
      color:blue;
      font-weight:bold;
font-size:30px;
  }

  .content{
      padding:15px 15px;
      text-align:left;
  }

  .numhigh{
font-weight:bold;
font-size:30px;
  }

  .bgcol{
    background: #4b4b4B;
    color:#fff;
  }

  input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    position:relative;
    top:20px;
    left:270px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 15px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 15%;
  }
  
  .sidebar-collapse .nav {
  padding:0;
    padding-top:50px;
  }
  
  .sidebar-collapse > .nav > li > a {
    color: #fff;
    text-decoration: none;
  font-size: 16px;
  }

  .sidebar-collapse .nav > li > a:hover,
  .sidebar-collapse .nav > li > a:focus {

  outline:0;
  }

.iconsize{
    font-size:1.6em;
}

  #main-menu li{
      padding:12px 14px;
      text-align:center;
  }

  #main-menu .active-link{
      background:#4B4B4B;
border-left:10px solid blue;
  }
  
  .navbar-side {
  border:none;
  background-color: #4B4B4B;
  height:100%;
  }
  .navbar-inverse {
  
  background-color:blue;
  border-color: #F0F0F0;
  min-height: 80px;
  }
  
  .seticon{
position:relative;
right:30px;
bottom:20px;
font-size:30px;
  }

  .imgsearch{
    position: relative;
    top: 28px;
    z-index: 1;
    left: 307px;
  }

  .nav > li > a > i {
    margin-right:10px;
  }
  .logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin:20px;
    margin: 10px 25px 10px 50px;
  }
    .logout-spn a {
        text-decoration:none;
    }
  .active-link {
    background-color:#f3f3f3;
  }
    
  
  .div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;
  
  }
  
  .div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
  }
  
  .numbset{
    position: relative;
    left: 140px;
    top: -10px;
      color:blue;
      font-weight:bold;
    font-size:20px;

}

.specset{
    position: relative;
    left: 70px;
    top: -10px;
    color:blue;
    font-weight:bold;
    font-size:20px;
}

  .graphtab{
    transition: box-shadow .3s;
    width: 600px;
    height: 180px;
    margin: 20px;
    border-radius:10px;
    float: left;
  }

  .compcont{
    transition: box-shadow .3s;
    width: 300px;
    height: 180px;
    margin: 20px;
    border-radius:10px;
    float: left;
  }

  @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;
    
    }
  
  
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }
  }
  
  